{% load static %}

<div id="modal" _="on closeModal
                   add .closing
                   then wait for animationend
                   then remove me
                   then call history.back()">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content" id="modal-content">
        <div class="border-b p-6">
            <div class="flex justify-between items-center">
                <h2 class="text-2xl font-bold text-gray-800">Edit Review</h2>
            </div>
        </div>
        {% include "reviews/partials/review_form.html" with action_url=action_url submit_text="Save Changes" %}
    </div>
</div>