{% load static %}

{% block footer %}

<footer class="border-t border-zinc-800 py-6 px-4">
    <div class="max-w-7xl mx-auto text-center">
        <p class="text-gray-400 text-sm mb-4">
            Created with <span class="text-red-600">❤</span> by Actiotrue
        </p>
        <div class="inline-block">
            <a href="https://github.com/actiotrue/media-reviews" target="_blank" class="inline-block hover:opacity-80 transition-opacity"> 
            <svg class="w-12 h-12 text-white"><use href="#icon-github"></use></svg>
            <span class="sr-only">Icon</span>
            </a>
        </div>
    </div>
</footer>
{% endblock  %}