{% load static %}

{% block footer %}

<footer class="mt-auto py-6 px-4 border-t border-gray-200 bg-gray-200">
    <div class="max-w-7xl mx-auto text-center">
        <p class="text-gray-600 text-sm mb-4">
            I really don't know, what I suppose to write in this area.
        </p>
        <div class="inline-block">
            <a href="https://github.com/Jud1k/media-reviews" target="_blank" class="inline-block hover:opacity-80 transition-opacity"> 
            <svg fill="currentColor" class="w-16 h-16"><use href="{% static 'images/github.svg' %}"></use></svg>
            <span class="sr-only">Icon</span>
            </a>
        </div>
    </div>
</footer>
{% endblock  %}